*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}
.container{
   margin: 0 auto;
   max-width: 1200px;
   width: 100%;
   
}

#date{
    margin-right: 30px;
}
header {
    background:linear-gradient(145deg,rgba(11,2,187,1) 0%,rgb(66 36 170) 100%);
    padding: 20px;
    border-bottom: 1px solid #ece9e9;
    position: sticky;
    top: 0px;
    
}
.navabar{
    display: flex;
    justify-content: space-between;
}
.navabar{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.date-heure{
    float: left;
    display: flex;
}
.contenu{
    display: flex;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.sexe-recherche{
    display: flex;
    margin-top: 20px;
}
.ajout-sup{
    display: flex;
    margin-top: 20px;
}
.sup,.sexe{
    margin-left: 20px;
}
.bouton-icon  {
    font-size: 1.5em;
    background: rgba(0, 0,0, 0.08);

}
.supprimer{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: red;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;


}
.supprimer:active{
    background: rgb(240, 5, 5);
}
.supprimer:hover{
    background:rgb(240, 5, 5);
}
.ajouter{
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;

  
}
.ajouter:active{
    background: #008168;

}
.ajouter:hover{
    background: #008168;
    
}
.bouton-icon,.add{
    display: inline-flex;
    align-items: center;
    padding:0  24px;
    color: #fff;
    height: 100%;

  
}
.inputsearch{
    position: relative;
    width: 300px;
    height: 50px;

}
.buton-group{

    float: right;
}

.sele{
  
    padding: 10px 25px;
    background: #a0a5a4;
    border-radius: 3px;
    font-size: 18px;
    border:1px solid black;
    outline: none;
    color: #fff;
}
.inputsearch input{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background: #a0a5a4;
    border-radius: 3px;
    font-size: 18px;
    border: 0;
    outline: none;
    color: #e9e5e4;

}

.search{
    width: 300px;
    
}

.delete{
    display: inline-flex;
    align-items: center;
    padding:0  24px;
    color: #fff;
    height: 100%; 
}
#formulaire{
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background:rgba(0,0,0,0.5) ;
 overflow: hidden;
 overflow-y: scroll;
 animation-name: modalSlideup;
 animation-duration: 1s;


}
#modal-content{
    background: #efefef;
    margin: 35px auto;
    width: 60%;
    box-shadow: 4px 4px 5px rgba(0, 0,0, 0.25);
}
#modal-header{
    background:#4586de ;
    color: white;
    padding: 25px 30px;
    font-size: 30px;
    text-align: center;
   
}
#modal-body{
    padding: 25px 30px;
    overflow-y: auto;
}
#modal-body h2{
    color: #4586de;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}
#modal-header .close-modal{
    font-size: 50px;
    float: right;
    margin-top: -39px;
}
#modal-header .close-modal:hover{
    color: #333;
    cursor: pointer;
}
.form-group{
    margin: 20px 0;
    width: 70%;
    margin-left: 12.5%;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;

}
.form-group input, textarea,select{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    resize: none;
}
.buton-group{
    display: flex;
}
#reset,#submit{
    font-size: 20px;
    margin-bottom: 30px;
    width: 100%;
    transition: background 0.3s;
    padding: 10px;
    cursor: pointer;
    


}
#submit{
    margin-left: 10px;
    background: #008168;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#submit:hover{
 background: #0a4136 ;
}
#reset{
    background: #ce4e05 ;
    border: none;
    border-radius: 5px;
    color: #fff;

   }
   #reset:hover{
    background: #eb081a 
   }
   .messageDerreur{
       text-align: center;
       font-size: 20px;
       background-color: #eb081a;
       opacity: 0.2;
       padding: 20px;
      color: black;
   }

@keyframes modalSlideup {
    0%{
        transform: translateY(1500px);

    }
    100%{
        transform: translateY(0);
    }
}
.table-container{
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.table-container thead tr{
    background-color:  rgba(0, 0,0, 0.08);
    text-align: left;
}
.table-container thead th{
    padding: 12px 15px;
}
